.popup-backdrop {
    display: flex;
    position: fixed;

    justify-content: center;
    align-items: center;

    inset: 0;
    width: 100%;
    height: 100%;


    z-index: var(--zIndex-popUp);
    /* background-color: var(--react-modal-background); */


    &:has(.board-edit, .invite-user) {
        background-color: var(--react-modal-background);
    }

}




.popup-container {
    position: relative;
    display: flex;
    flex-direction: column;
    place-items: center;

    /* width: 10vw; */
    /* max-width: 200px; */
    max-height: 90vh;

    overflow-y: auto;

    border-radius: var(--border-radius-big);
    background-color: var(--primary-background-color);
    box-shadow: var(--box-shadow-large);

}

.popup-container::-webkit-scrollbar-thumb {
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
}

@media (min-width: 750px) {
    .popup-container {
        width: fit-content;
        max-height: 90vh;
    }
}